<%= render :partial => "partials/navbar", :locals => { :use_html_nav => @use_html_nav, :nav_left => @nav_left, :nav_right => @nav_right } %>
<div class="content">
	<ul>
		<li>
			<div class="itemLabel">vehicle ID</div>
			<div class="itemValue"><%= @params['id']%></div>
		</li>
		<li>
			<div class="itemLabel">Route Direction</div>
			<div class="itemValue"><%= @params['route_direction']%></div>
		</li>
		<li>
			<div class="itemLabel">Service Description</div>
			<div class="itemValue"><%= @params['service_description']%></div>
		</li>
		<li>
			<div class="itemLabel">Trip Status</div>
			<div class="itemValue"><%= @params['trip_status']%></div>
		</li>
		<li>
		    <div class="itemLabel">Distance</div>
			<div class="itemValue"><%= @params['distance']%></div>
		</li>
		<li>
			<div class="itemLabel">Organisation</div>
			<div class="itemValue"><%= @params['organisation']%></div>
		</li>
		<li>
			<div class="itemLabel">Updated At:</div>
			<div class="itemValue"><%= @params['updated_at']%></div>
		</li>
	</ul>
</div>

